/* Core styles */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #141414;
}
.section__title {
  font-family: "Playfair Display", serif;
  color: #422a3c;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1%;
}
.section__subtitle {
  color: #ba7894;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
}
.section__descraption {
  color: #555555;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
}
.section__btn1 {
  padding: 14px 24px;
  font-size: 14px;
  border: 1px solid #141414;
  background: none;
  border-radius: 5px;
}
.section__btn2 {
  padding: 14px 24px;
  font-size: 14px;
  border: 1px solid #141414;
  background-color: #141414;
  color: #fff;
  border-radius: 5px;
}
/* header section styles */
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
}
.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Port Lligat Slab", serif;
}
.header__logo--title {
  color: #ba7894;
}
.header__navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Home section styles */
.home {
  background: #44203e;
  margin: 80px 0;
  color: #fff;
  padding: 64px 16px;
  font-family: "Segoe UI", sans-serif;
}

.home__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.home__text {
  flex: 1 1 500px;
  max-width: 600px;
}
.home__title {
  font-family: "Playfair Display", serif;
  width: 510px;
  color: #f7e5c1;
  font-size: 70px;
  line-height: 114.99999999999999%;
}
.home__tagline {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #f2cfcf;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.home__text p {
  color: #e0c7d8;
  margin-bottom: 32px;
  font-size: 16px;
}

.home__search--form .home__input--group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  border-bottom: 1px solid #141414;
  background: #f8f8f8;
  border-radius: 30px;
  padding: 3px;
}
.home__service--input {
  background-color: #f8f8f8;
}
.home__location--input {
  background-color: #f8f8f8;
}
.home__input {
  padding: 16px;
  border-radius: 30px;
  border: none;
  flex: 1 1 200px;
  font-size: 16px;
}

.home__search--btn {
  display: flex;
  align-items: center;
  background-color: #d94d92;
  color: #f8f8f8;
  padding: 16px 32px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s linear;
}

.home__search--btn:hover {
  background-color: #c33a7b;
}
.home__search--btn > i {
  width: 26px;
  height: 26px;
  color: #fff;
}
.home__image {
  flex: 1 1 400px;
  text-align: center;
  margin-top: 32px;
}

.home__img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
/* home bottom section styles */
.bottom__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.bottom__card {
  text-align: center;
}
.card__title {
  padding-top: 10px;
  color: #422a3c;
  font-size: 18px;
}
/* about section styles */
.about {
  padding: 40px 0;
}
.about__top {
  text-align: center;
}
.about__title {
  width: 768px;
  font-size: 45px;
  color: #422a3c;
  font-weight: 700;
  margin-left: 250px;
}
.about__p {
  font-size: 20px;
  color: #555555;
  font-family: "Manrope", sans-serif;
  margin: 20px 0;
}
.about__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 50px;
}
.about__bottom > img {
  width: 362.67px;
  height: 407.33px;
}
.about__images {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: calc((100% - 20px) / 2);
}
.about__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.about__image > img {
  width: 362.67px;
  height: 202.67px;
}
.about__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.about__img > img {
  width: 362.67px;
  height: 202.67px;
}
.about__img1 {
  border-radius: 40px 0 0 40px;
}
.about__img4 {
  padding-top: 6px;
}
.about__img3 {
  border-radius: 0 40px 0 0;
  padding-bottom: 6px;
}
.about__img5 {
  border-radius: 0 0 40px 0;
}
/* about section styles */
/* Recomended section styles */
.recomended__top {
  text-align: center;
}
.recomended__cards {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.recomended__card {
  width: 256px;
  height: 370.67px;
  border-radius: 24px;
}
.recomended__card > img {
  width: 256px;
  height: 183.33px;
  border-radius: 24px 24px 0 0;
}
.content {
  padding: 10px;
}
.content__img {
  display: flex;
  gap: 5px;
  color: #ba7894;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__title {
  padding: 10px 0;
  color: #141414;
  font-size: 24px;
  font-weight: 700;
}
.content__descraption {
  width: 256px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  font-family: "Manrope", sans-serif;
}
.content__btn {
  margin-left: 10px;
  padding: 16px 64px;
  background: none;
  border: 1px solid #ba7894;
  border-radius: 8px;
  color: #ba7894;
  transition: all 0.3s linear;
  cursor: pointer;
}
.content__btn:hover {
  background-color: #ba7894;
  color: #fff;
}
/* Testimonials section styles */
.testimonials {
  align-items: center;
  padding: 50px 0;
  padding-left: 80px;
  background-color: #fdfdfd;
  background-color: #f0f0f0;
}
.testimonials__top {
  text-align: center;
  padding-bottom: 50px;
}
.testimonials__medium {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  width: 1121px;
  height: 458px;
  background-color: #422a3c;
  border-radius: 40px;
}
.testimonials__left > img {
  padding-left: 100px;
  height: 330px;
}
.testimonials__text {
  width: 576px;
  color: #fff;
}
.right__title {
  padding: 20px 0;
}
.right__descraption {
  width: 384px;
  font-family: "Manrope", sans-serif;
}
.right__name {
  font-family: "Manrope", sans-serif;
}
.left__icon {
  position: relative;
  right: 40px;
}
.right__icon {
  padding-left: 380px;
}
.testimonials__bottom {
  padding: 50px;
  text-align: center;
}
/* Mask section styles */
.mask {
  background-color: #fff;
}
.mask__wrapper {
  border-radius: 45px;
  margin: 60px;
  padding: 20px;
  width: 1240px;
  background-color: #ebf3f538;
}
.mask__subwrapper {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
}
.mask__left > img {
  width: 520px;
  height: 353px;
}
.right__content--int {
  height: 68px;
  width: 543px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ecbfd3;
  border-radius: 45px;
}
.content__input--text {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}
.right__content--input {
  border: none;
  background: none;
  font-size: 16px;
}
.right__content--btn {
  margin-right: 10px;
  width: 144px;
  height: 50px;
  border: none;
  color: #fff;
  background-color: #141414;
  font-size: 18px;
  border-radius: 45px;
}
.right__content--descraption {
  padding: 50px 0;
  line-height: 138%;
}
